.work_thumb img {
    width: 100px;
    height: 100px;
    transition: width 0.2s, height 0.2s;
}
.work_thumb img:hover {
    width: 110px;
    height: 110px;
}
#main_list {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.work_thumb {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s, height 0.2s;
}
.work_full {
    width: 500px;
    height: 500px;
    transition: width 0.2s, height 0.2s;
}

.work_full img {
    width: 490px;
    height: 490px;
    transition: width 0.2s, height 0.2s;
}