.thumbnail img {
    width: 100px;
    height: 100px;
    transition: width 0.2s, height 0.2s;
}
.thumbnail img:hover {
    width: 110px;
    height: 110px;
}
#thumbnails {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.thumbnail {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s, height 0.2s;
}
.main_image {
    width: 500px;
    height: 500px;
    transition: width 0.2s, height 0.2s;
}

.main_image img {
    width: 490px;
    height: 490px;
    transition: width 0.2s, height 0.2s;
}