.work_thumb img {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    transition: max-width 0.2s, max-height 0.2s;
}
.work_thumb img:hover {
    max-width: 108px;
    max-height: 108px;
    height: auto;
}
#main_list {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.work_thumb {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s, height 0.2s;
}
.work_full {
    max-width: 100%;
    transition: width 0.2s, height 0.2s;
}

.work_full .work_img {
    max-width: 100%;
    height: auto;
    transition: width 0.2s, height 0.2s;
}
.work_thumb_bar_entry {
    margin: 2px;
}

.work_thumb_bar_entry img {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
}

.work_thumbnails_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.work_info {
    display: flex;
    margin: 10px;
}

.work_details {
    margin-left: 15px;
}

.work_artist img {
    width: 100px;
    height: auto;
}

.work_title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.work_artist_name {
    margin-top: 0;
}

.hide {
    display: none !important;
}